<%- include('./partials/head') %>

<body>

  <main class="tiproom">
    <h1>Tekentips</h1>
    <section>
      <article class="tiproom-tips">
        <ul class="tiproom-message"></ul>
      </article>
      <form class="tiproom-form">
        <input type="text" autocomplete="off" placeholder="Geef hier je tip"/>
        <button type="button">Verstuur!</button>
      </form>
    </section>
  </main>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts/tipruimte.js"></script>
</body>
</html>


<%- include('./partials/foot') %>