<%- include('./partials/head') %>

<div class="viewcount-container">
  <img class="viewcount-icon" src="/assets/viewer.webp" />
  <span class="viewcount-counter">1</span>
</div>

<!-- <div class="viewcount-hover-info">
  <span class="viewcount-hover-info-text">Gebruikers nu op deze pagina</span>
</div> -->

</body>

</html>